## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'], inplace=True)

In [3]:
# confirm columns dropped
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [4]:
app_object = application_df.dtypes[application_df.dtypes != 'object'].index.tolist()
app_object

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [5]:
# Determine the number of unique values in each column.
application_df[app_object].nunique()

STATUS              2
ASK_AMT          8747
IS_SUCCESSFUL       2
dtype: int64

In [6]:
# further preproccessing
app_cat = application_df.dtypes[application_df.dtypes == 'object'].index.tolist()
application_df[app_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
app_count = application_df['APPLICATION_TYPE'].value_counts()
print(app_count)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [9]:
# Choose a cutoff value (250) and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_count[app_count < 250].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df['CLASSIFICATION'].value_counts()
class_count

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count[class_count > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count < 150].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1003
C7000      777
C1700      287
C4000      194
Name: count, dtype: int64

In [13]:
app_cat = application_df.dtypes[application_df.dtypes == 'object'].index.tolist()
application_df[app_cat].nunique()

APPLICATION_TYPE          9
AFFILIATION               6
CLASSIFICATION            9
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [14]:
# drop odd columns
application_df = application_df.drop(app_cat, axis=1)

# confirm all data is numerical
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   STATUS         34299 non-null  int64
 1   ASK_AMT        34299 non-null  int64
 2   IS_SUCCESSFUL  34299 non-null  int64
dtypes: int64(3)
memory usage: 804.0 KB

In [15]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

In [16]:
# Split our preprocessed data into our features and target arrays
y= application_df['IS_SUCCESSFUL'].values
X= application_df.drop(['IS_SUCCESSFUL'], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=1)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# troubleshooting
len(X_train[0])

2

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_l1= (number_input_features * 3)
hidden_nodes_l2= (number_input_features * .6)

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(
        units=hidden_nodes_l1,
        input_dim=number_input_features,
        activation='relu'
        )
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(
        units=hidden_nodes_l2,
        activation='relu'
        )
)


# Output layer
nn.add(
    tf.keras.layers.Dense(
        units=1,
        activation='sigmoid'
    )
)

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 18

 dense_1 (Dense)             (None, 1)                 7

 dense_2 (Dense)             (None, 1)                 2

=================================================================
Total params: 27 (108.00 Byte)
Trainable params: 27 (108.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [21]:
# Train the model
fitted = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5335
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5335
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5335
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5335
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5335
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5335
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5335
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5335
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5336
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5334
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5344
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5346
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5356
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5359
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5363
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5366
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5368
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6905 - accuracy: 0.5365
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6905 - accuracy: 0.5369
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.5372
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6904 - accuracy: 0.5372
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6905 - accuracy: 0.5376
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6905 - accuracy: 0.5376
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6904 - accuracy: 0.5374
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6904 - accuracy: 0.5379
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6905 - accuracy: 0.5377
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6904 - accuracy: 0.5377
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6904 - accuracy: 0.5374
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6904 - accuracy: 0.5372
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6904 - accuracy: 0.5377
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6904 - accuracy: 0.5373
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6904 - accuracy: 0.5374
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6904 - accuracy: 0.5376
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5372
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6904 - accuracy: 0.5381
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6904 - accuracy: 0.5374
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5374
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6904 - accuracy: 0.5377
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5377
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5372
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5372
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5376
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5374
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5376
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5374
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5379
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5373
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5372
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6902 - accuracy: 0.5373
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5378
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5376
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5375
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5385
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6904 - accuracy: 0.5367
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5375
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5376
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5373
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5376
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5374
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5377
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5373
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5376
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6902 - accuracy: 0.5380
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5379
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5372
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6902 - accuracy: 0.5381
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5378
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6902 - accuracy: 0.5373
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5372
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5376
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5380
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5375
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6902 - accuracy: 0.5375
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5374
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5377
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5374
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6902 - accuracy: 0.5380
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6902 - accuracy: 0.5376
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5377
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5378
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5373
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6902 - accuracy: 0.5379
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6902 - accuracy: 0.5375
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6902 - accuracy: 0.5377
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5375
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6902 - accuracy: 0.5373
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6902 - accuracy: 0.5376
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6902 - accuracy: 0.5376
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5375
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6902 - accuracy: 0.5373
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5377
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5374
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.5373
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6902 - accuracy: 0.5377

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6908 - accuracy: 0.5340 - 785ms/epoch - 3ms/step
Loss: 0.6908429265022278, Accuracy: 0.533994197845459

In [23]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

c:\Users\Tye Smith\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(